@import url('https://fonts.googleapis.com/css?family=Seaweed+Script|Tajawal|Libre+Baskerville|Roboto+Slab');

body {
    background-color: #1b1d20;
    margin: 0;
}

h1 {
    font-family: 'Tajawal';
    color: rgb(195, 208, 219);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
    line-height: 70%;
    margin-top: 0%;

}
p {
color: rgb(222, 229, 240);
    font-family: 'Tajawal';
}
.normalp {
    
    margin-left: 5%;
}

/* ---------- LINKS ---------- */
a {
    font-family: 'Tajawal';
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
}

a:visited {
    color: rgb(151, 159, 174);
}

a:active {
    color: rgb(64, 70, 80);
}

/* ---------- NAVBAR ---------- */
.navbar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem;
    background-color: #313741;
}

/* Left side (logo + SEHS) */
.navbar-left {
    display: flex;
    align-items: center;
    gap: 0rem;
}
/* logo image */
.logoimg {
    height: 2.5rem;
    width: 2.5rem;
}
.logoimg:hover{
    background-color: transparent;
}

/* SEHS link */
.Home {
    padding: 0.8rem 1rem;
    color: #dbe7f5;
}

/* buttons container */
.buttons {
    display: flex;
    gap: 0rem;
}

/* navbar links */
.buttons a {
    padding: 0.8rem 1rem;
    background-color: rgb(49, 55, 65);
    color: #dbe7f5;
}

.Home:hover {
    background-color: rgb(59, 66, 75);
    margin-left: 5px;
}

.Home:visited {
    color: #dbe7f5;
}
/* navbar links */

.buttons a:hover {
    margin-right: 5px;
    background-color: rgb(59, 66, 75);
}

a:visited {
    color: #dbe7f5;
}

#background {
    background-image: "../Images/logo2.png";
}

/* Control buttons */
.controls {
    text-align: right;
    margin-right: 5%;
}

.controls button{
    padding: 0px 3%;
    margin-left: 1px;
    cursor: pointer;
    border: none;
    background-color: #313741;
    color: #dbe7f5;
    border-radius: 6px;
    font-family: 'Tajawal';
    font-size: 150%;
}
.controls p{
    line-height: 0%;
}

/* Pinterest-style masonry */
.gallery {
    column-count: 5; /* default */
    column-gap: 5px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 12px;
    break-inside: avoid;
    display: block;
}
.gallery img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}

.gallery img,
.section-title {
    width: 100%;
    margin-bottom: 5px;
    break-inside: avoid;
    display: block;
}

.section-title {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-weight: bold;
    padding: 20% 0%;
    border-radius: 12px;
    font-family: 'Tajawal';
    color: rgb(195, 208, 219);
    text-align: center;
}
/* Back button */
#back {
    color: #dbe7f5;
    background-color: #2b2f35;
    margin: 20px;
    border-radius: 12px;
    padding: 1% 2%;
}
/* credits */
.credits {
    text-align:center;
}