@import url('https://fonts.googleapis.com/css?family=Seaweed+Script|Tajawal|Libre+Baskerville|Roboto+Slab');

body {
    background-color: #1b1d20;
    margin: 0;
}

h1 {
    font-family: 'Tajawal';
    color: rgb(195, 208, 219);
    font-weight: bold;
    font-size: 40px;
    text-align: center;
}

p {
    color: rgb(222, 229, 240);
    font-family: 'Tajawal';
    margin: 20px;
}

/* ---------- LINKS ---------- */
a {
    font-family: 'Tajawal';
    text-decoration: none;
    font-weight: normal;
    font-size: 20px;
}

a:visited {
    color: rgb(151, 159, 174);
}

a:active {
    color: rgb(64, 70, 80);
}

/* ---------- NAVBAR ---------- */
.navbar {
    display: flex;
    align-items: center;
    padding-right: 20px;
    /* THIS restores space after Contact */
    background-color: #313741;
}

/* logo image */
#logoimg {
    height: 40px;
    width: 40px;
    padding: 6px 10px 2px 10px;
}

/* CC Home */
.Home {
    margin-right: auto;
    /* pushes buttons right */
    padding: 15px 10px;
    /* space after CC */
    color: #dbe7f5;
}

.Home :hover {
    color: rgb(151, 162, 174);
    background-color: rgb(59, 66, 75);
}

.Home:visited {
    color: #dbe7f5;
}

/* buttons container */
.buttons {
    display: flex;
}

/* navbar links */
.buttons a {
    padding: 15px 10px;
    background-color: rgb(49, 55, 65);
    color: #dbe7f5;
}
.buttons a:hover {
    margin-right: 5px;

}

a:visited {
    color: #dbe7f5;
}

a:hover {
    color: rgb(239, 249, 255);
    background-color: rgb(59, 66, 75);
}
#background {
    background-image: "../Images/logo2.png";
}

/* Control buttons */
.controls {
    text-align: right;
    margin: 20px;
}

.controls button {
    padding: 8px 14px;
    margin-left: 5px;
    cursor: pointer;
    border: none;
    background: #333;
    color: white;
    border-radius: 6px;
}

/* Pinterest-style masonry */
.gallery {
    column-count: 3; /* default */
    column-gap: 15px;
    padding: 20px;
}

.gallery img {
    width: 100%;
    margin-bottom: 5px;
    border-radius: 12px;
    break-inside: avoid;
    display: block;
}
.gallery img:hover {
    transform: scale(1.1);
    transition: 0.3s;
}
.gallery {
    column-count: 3;
    column-gap: 5px;
}

.gallery img,
.section-title {
    width: 100%;
    margin-bottom: 5px;
    break-inside: avoid;
    display: block;
}

.section-title {
    font-size: clamp(1.5rem, 2vw, 2.5rem);
    font-weight: bold;
    padding: 20% 0%;
    border-radius: 12px;
    font-family: 'Tajawal';
    color: rgb(195, 208, 219);
    text-align: center;
}

#back {
    color: #dbe7f5;
    background-color: #2b2f35;
    margin: 20px;
    border-radius: 12px;
    padding: 1% 2%;
}
